/*** DEFAULTS *****/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Hammersmith One', sans-serif;
}

.flexJustifyAlignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*blueD: #1d40d4 */
/*greenS: olive*/
/*hornedF:  #6929a8  */
/*jaguars: #053c05 */
/*redRaiders: #741515 */
/*goldenE: #d17300*/

.noMargin {
    margin: 0;
}

div#app.container-flow {
    margin-bottom: 8vh;
}

div.card-body {
    padding: 0;
}

/* DARK GREEN #3d5b40  LIGHT GREEN #7af442 */
/**** HEADER *****/
.logoImg {
    width: 40px;
    height: 40px;
    margin: 3px;
}

.NYSL {
    background: black;
    color: white;
    height: 8vh;
}

/***** NAVBAR *****/
.navTop {
    border-bottom: 1px solid black;
    padding: 0;
    height: 8vh;
    background-color: #222222;
    position: sticky;
    /*background-color: #3d5b40;*/
}

.linkTop {
    color: #c1c1c1;
}

.nav-link:active {
    color: #7af442;
}


/*** FOOTER ****/
.footer {
    height: 8vh;
    background-color: black;
    padding: 2px;
    position: fixed;
}

.iconText {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.bottomButton {
    margin-top: 4px;
    color: #c1c1c1;
}

.bottomButton:hover {
    color: #7af442;
}

.activeButton {
    color: #7af442;
}

/**** BODY W1*****/
.gameDate {
    background-color: #3d5b40;
    color: white;
    text-align: center;
}

.standingsTH {
    background-color: rgba(96, 177, 94, 0.99);
    color: black;
    text-align: center;
}

.standingsTR {
    background-color: rgba(224, 255, 223, 0.99);
    color: black;
    text-align: center;
}

.gameInfo {
    border-bottom: 1px solid gray;
    width: 100%;
    
}

.teamInfo {
    width: 35%;
    margin-top: 16px;
}

.score {
    font-weight: bold;
    font-size: 35px;
}

.scheduleLogo {
    width: 40px;
    height: 40px;
}

/**** LOCATIONS *****/
.stadium {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.stadiumLink {
    background-color: #3d5b40;
    height: 12.66vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stadiumButton,
.stadiumButton:hover {
    color: white;
}

iframe {
    width: 95%;
    height: 95%;
    border-radius: 5%;
    margin: 3px;
}

.map {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5%;
    margin: 30px auto;
    background-color: #e8e8e8;
}

/***** TEAMS PAGE *******/
.team {
    height: 14vh;
    border-bottom: 1px solid black;
    padding: 5px;

}

.teamsPage {
    background: linear-gradient(rgba(224, 255, 223, 0.84), rgba(224, 255, 223, 0.84), rgba(224, 255, 223, 0.84)), url("/styles/images/stadium1.png");
    background-size: cover;
    background-position: center;
}

.teamsPageLogo {
    width: 12vh;
    height: 12vh;
}

/***** TEAM ****/
.teamBackground0 {
    width: 100%;
    height: 40vh;
    background: linear-gradient(rgba(62, 57, 57, 0.89), rgba(62, 57, 57, 0.6), rgba(62, 57, 57, 0.89)), url("/styles/images/la_bombonera.png");
    background-size: cover;
    background-position: center;
}

.individualTeamPageLogo {
    width: 20vh;
    height: 20vh;
}

.navTeam {
    border-bottom: 1px solid black;
    padding: 0;
    height: 8vh;
}

.teamColorHeadline {
    height: 8vh;
    color: white;
    margin: 0;
}

.playerRow {
    padding-bottom: 2vh;
    padding-top: 2vh;
    border-bottom: 1px solid #cec4c4;
}

.playerPositionHeadline {
    border-bottom: 1px solid #cec4c4;
    padding: 2vh;
    margin: 0;
}

.teamLink {
    color: #848f9b;
}

.teamLink:hover {
    color: white;
}

/*
.teamLinkActive {
    color: white;
}
*/
.addressSection {
    padding: 2vh 0;
}

.playerPagePhoto {
    width: 100%;
    height: 30vh;
    background-color: #3c3535;
}

/********** CHAT PAGE ***********/
.chatPage {
    background:
        linear-gradient(rgba(224, 255, 223, 0.72), rgba(224, 255, 223, 0.72), rgba(224, 255, 223, 0.72)), url(images/chatbackground.jpg);
    height: 92vh;
    background-size: cover;
}

#posts {
    margin: 5vh auto;
    height: 62vh;
    width: 90%;
    padding: 1px 1px 9vh 1px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.chatText {
    padding-left: 10px;
    height: 6vh;
    width: 65%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid black;
}

.inputsBottom {
    display: flex;
    justify-content: center;
}

.buttonsTop {
    margin: 20vh auto;
    display: flex;
    justify-content: center;
    width: 90%;
}

.buttonSend {
    width: 25%;
}

#posts div {
    padding: 1vh;
    margin: 2vh 0;
    background-color: rgba(166, 229, 190, 0.68);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: row;
}

div#posts.box p {
    word-break: break-all;
}

.textInMessages{
margin:0;
display: flex;
align-self: center;
}
/********ACCOUNT PAGE*******/

.loginMsg {
    margin: 10vh auto;
    padding: 0 10%;
    text-align: center;
}

.accountPage {
    background-color: rgba(166, 229, 190, 0.98);
    height: 92vh;

}

.buttonLogInOut {
    width: 40%;
    height: 50px;
}


@media only screen and (min-device-width : 375px) and (max-device-width : 740px) and (orientation : landscape) {

    /* STYLES GO HERE */
    .NYSL {
        background: black;
        color: white;
        height: 12vh;
    }

    .footer {
        height: 12vh;
        background-color: black;
        padding: 2px;
        position: fixed;
    }

    .navTop {
        border-bottom: 1px solid black;
        padding: 0;
        height: 12vh;
        background-color: #222222;
        position: sticky;
        /*background-color: #3d5b40;*/
    }

    div#app.container-flow {
        margin-bottom: 12vh;
    }

    .accountPage {
        background-color: rgba(166, 229, 190, 0.98);
        height: 88vh;
    }

    #posts {
        margin: 5vh auto;
        height: 50vh;
        width: 90%;
        padding: 1px;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    div#posts.box span {
        word-break: break-all;
        /*          overflow-wrap: break-word;*/
        /*        width:90%;*/
    }

    #textInput.chatText {
        height: 10vh;
    }
}

@media only screen and (min-width: 740px) and (orientation: landscape) {
    .NYSL {
        background: black;
        color: white;
        height: 12vh;
    }

    .footer {
        height: 12vh;
        background-color: black;
        padding: 2px;
        position: fixed;
    }

    .navTop {
        border-bottom: 1px solid black;
        padding: 0;
        height: 12vh;
        background-color: #222222;
        position: sticky;
        /*background-color: #3d5b40;*/
    }

    div#app.container-flow {
        margin-bottom: 12vh;
    }

    .accountPage {
        background-color: rgba(166, 229, 190, 0.98);
        height: 88vh;
    }

    #posts {
        margin: 5vh auto;
        height: 50vh;
        width: 90%;
        padding: 1px;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    #textInput.chatText {
        height: 10vh;
    }
}
