/*** DEFAULTS *****/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Hammersmith One', sans-serif;
}

.flexJustifyAlignCenter{
display: flex;
justify-content:center;
align-items:center;
}

/*blueD: #1d40d4 */
/*greenS: olive*/
/*hornedF:  #6929a8  */
/*jaguars: #053c05 */
/*redRaiders: #741515 */
/*goldenE: #d17300*/

.noMargin {
    margin: 0;
}

div#app.container-flow {
    margin-bottom: 8vh;
}

div.card-body {
    padding: 0;
}

/* DARK GREEN #3d5b40  LIGHT GREEN #7af442 */
/**** HEADER *****/
.logoImg {
    width: 40px;
    height: 40px;
    margin: 3px;
}

.NYSL {
    background: black;
    color: white;
    height: 8vh;
}

/***** NAVBAR *****/
.navTop {
    border-bottom: 1px solid black;
    padding: 0;
    height: 8vh;
    background-color: #222222;
    position: sticky;
    /*background-color: #3d5b40;*/
}

.linkTop {
    color: #c1c1c1;
}

.nav-link:active {
    color: #7af442;
}


/*** FOOTER ****/
.footer {
    height: 8vh;
    background-color: black;
    padding: 2px;
    position: fixed;
}

.iconText {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.bottomButton {
    margin-top: 4px;
    color: #c1c1c1;
}

.activeButton {
    color: #7af442;
}

/**** BODY W1*****/
.gameDate {
    background-color: #3d5b40;
    color: white;
    text-align: center;
}

.gameInfo {
    border-bottom: 1px solid gray;
    width: 100%;
}

.teamInfo {
    width: 35%;
    margin-top: 16px;
}

.score {
    font-weight: bold;
    font-size: 35px;
}

.scheduleLogo {
    width: 40px;
    height: 40px;
}

/**** LOCATIONS *****/
.stadium {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.stadiumLink {
    background-color: #3d5b40;
    height: 12.66vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stadiumButton, .stadiumButton:hover {
    color: white;
}

iframe {
    width: 95%;
    height: 95%;
    border-radius: 5%;
    margin: 3px;
}

.map {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5%;
    margin: 30px auto;
    background-color: #e8e8e8;
}

/***** TEAMS PAGE *******/
.team {
    height:14vh;
    border-bottom: 1px solid #b5acac;
    padding: 5px;
    
}

.teamsPageLogo {
    width: 12vh;
    height: 12vh;
}

/***** TEAM ****/
.teamBackground0 {
    width: 100%;
    height: 40vh;
    background: linear-gradient(rgba(62, 57, 57, 0.89), rgba(62, 57, 57, 0.6), rgba(62, 57, 57, 0.89)), url("/styles/images/la_bombonera.png");
    background-size: cover;
    background-position: center;
}

.individualTeamPageLogo {
    width: 20vh;
    height: 20vh;
}

.navTeam {
    border-bottom: 1px solid black;
    padding: 0;
    height: 8vh;
}

.teamColorHeadline{
height:8vh;
color: white;
margin: 0;
}

.playerRow{
padding-bottom: 2vh;
padding-top: 2vh;
border-bottom: 1px solid #cec4c4;
}

.playerPositionHeadline{
border-bottom: 1px solid #cec4c4;
padding: 2vh;
margin: 0;
}

.teamLink {
    color: #848f9b;
}

.teamLink:hover {
    color: white;
}

/*
.teamLinkActive {
    color: white;
}
*/



.addressSection {
    padding: 2vh 0;
}

.playerPagePhoto{
width:100%;
height:30vh;
background-color: #3c3535;
}
