/*** DEFAULTS *****/
body{
  font-family: 'Hammersmith One', sans-serif;
}
.noMargin{
margin: 0;
}

/* DARK GREEN #3d5b40  LIGHT GREEN #7af442 */
/**** HEADER *****/
.logoImg {
    width: 40px;
    height: 40px;
    margin: 3px;
}

.NYSL {
    background: black;
    color:white;
    height: 50px;
}

.slidingMenu{
border-bottom: 1px solid black;
}

.slidingText{
font-size: 20px;
margin-top: 5px;
}

div.slick-slide.slick-current.slick-active.slick-center{
width:150px;
border-bottom: 5px solid #7af442;
text-align: center;
}

div.slick-slide{
width:100px;
text-align: center;
}
/***** NAVBAR *****/
.navTop{
border-bottom: 1px solid black;
padding: 0;
height: 50px;
background-color: #c1c1c1;
/*background-color: #3d5b40;*/
}

.linkTop{
color:black;
}

.nav-link:active{
color:#7af442;
}


/*** FOOTER ****/
.footer{
height:50px;
background-color: black;
padding: 2px;
}

.iconText{
margin: 0;
padding: 0;
font-size: 10px;
}

.bottomButton{
    margin-top: 4px;
    color: #c1c1c1;
}

.activeButton{
color:#7af442;
}

/**** BODY W1*****/
.gameDate{
background-color: #3d5b40;
color: white;
text-align: center;
}

.gameInfo{
border-bottom: 1px solid gray;
}

.teamInfo{
width:35%;
margin-top: 16px;
}

.score{
font-weight: bold;
font-size: 35px;}
.scheduleLogo{
width:40px;
height: 40px;
}