/*** DEFAULTS *****/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Hammersmith One', sans-serif;
}

/*blueD: #1d40d4 */
/*greenS: olive*/
/*hornedF:  #6929a8  */
/*jaguars: #053c05 */
/*redRaiders: #741515 */
/*goldenE: #d17300*/

.noMargin {
    margin: 0;
}

div#app.container-flow {
    margin-bottom: 50px;
}

div.card-body {
    padding: 0;
}

/* DARK GREEN #3d5b40  LIGHT GREEN #7af442 */
/**** HEADER *****/
.logoImg {
    width: 40px;
    height: 40px;
    margin: 3px;
}

.NYSL {
    background: black;
    color: white;
    height: 50px;
}

.slidingMenu {
    border-bottom: 1px solid black;
}

.slidingText {
    font-size: 20px;
    margin-top: 5px;
}

div.slick-slide.slick-current.slick-active.slick-center {
    width: 150px;
    border-bottom: 5px solid #7af442;
    text-align: center;
}

div.slick-slide {
    width: 100px;
    text-align: center;
}

/***** NAVBAR *****/
.navTop {
    border-bottom: 1px solid black;
    padding: 0;
    height: 7vh;
    background-color: #c1c1c1;
    /*background-color: #3d5b40;*/
}

.linkTop {
    color: black;
}

.nav-link:active {
    color: #7af442;
}


/*** FOOTER ****/
.footer {
    height: 50px;
    background-color: black;
    padding: 2px;
}

.iconText {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.bottomButton {
    margin-top: 4px;
    color: #c1c1c1;
}

.activeButton {
    color: #7af442;
}

/**** BODY W1*****/
.gameDate {
    background-color: #3d5b40;
    color: white;
    text-align: center;
}

.gameInfo {
    border-bottom: 1px solid gray;
    width: 100%;
}

.teamInfo {
    width: 35%;
    margin-top: 16px;
}

.score {
    font-weight: bold;
    font-size: 35px;
}

.scheduleLogo {
    width: 40px;
    height: 40px;
}

/**** LOCATIONS *****/
.stadium {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.stadiumLink {
    background-color: #3d5b40;
    height: 13vh;
    /*    text-align: center;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stadiumButton {
    color: white;
}

iframe {
    width: 95%;
    height: 95%;
    border-radius: 5%;
    margin: 3px;
}

.map {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5%;
    margin: 30px auto;
    background-color: #e8e8e8;
}

/***** TEAMS PAGE *******/
.team {
    border-bottom: 1px solid black;
    padding: 5px;
}

.teamsPageLogo {
    width: 90px;
    height: 90px;
}

/***** TEAM ****/
.teamBackground0 {
    width: 100%;
    height: 40vh;
    background: linear-gradient(rgba(62, 57, 57, 0.89), rgba(62, 57, 57, 0.6), rgba(62, 57, 57, 0.89)), url("/styles/images/la_bombonera.png");
    background-size: cover;
    background-position: center;
}

.individualTeamPageLogo {
    width: 20vh;
    height: 20vh;
}

.navTeam {
    border-bottom: 2px solid black;
    padding: 0;
    height: 7vh;
}

.teamLink {
    color: #848f9b;
}

.teamLinkActive {
    color: white;
}

.addressSection {
    padding: 2vh 0;
}
